# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
example/windows/CMakeLists.txt
example/windows/flutter/CMakeLists.txt
example/windows/flutter/generated_plugin_registrant.cc
example/windows/flutter/generated_plugin_registrant.h
example/windows/flutter/generated_plugins.cmake
example/windows/runner/CMakeLists.txt
example/windows/runner/flutter_window.cpp
example/windows/runner/flutter_window.h
example/windows/runner/main.cpp
example/windows/runner/resource.h
example/windows/runner/resources/app_icon.ico
example/windows/runner/runner.exe.manifest
example/windows/runner/Runner.rc
example/windows/runner/utils.cpp
example/windows/runner/utils.h
example/windows/runner/win32_window.cpp
example/windows/runner/win32_window.h
example/macos/Runner/Release.entitlements
example/macos/Runner/MainFlutterWindow.swift
example/macos/Runner/Info.plist
example/macos/Runner/DebugProfile.entitlements
example/macos/Runner/Configs/Warnings.xcconfig
example/macos/Runner/Configs/Release.xcconfig
example/linux/CMakeLists.txt
example/linux/flutter/CMakeLists.txt
example/linux/flutter/generated_plugin_registrant.cc
example/linux/flutter/generated_plugin_registrant.h
example/linux/flutter/generated_plugins.cmake
example/linux/main.cc
example/linux/my_application.cc
example/linux/my_application.h
example/macos/Flutter/Flutter-Debug.xcconfig
example/macos/Flutter/Flutter-Release.xcconfig
example/macos/Flutter/GeneratedPluginRegistrant.swift
example/macos/Runner.xcodeproj/project.pbxproj
example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
example/macos/Runner.xcworkspace/contents.xcworkspacedata
example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
example/macos/Runner/AppDelegate.swift
example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
example/macos/Runner/Base.lproj/MainMenu.xib
example/macos/Runner/Configs/AppInfo.xcconfig
example/macos/Runner/Configs/Debug.xcconfig
example/.metadata
example/.metadata
.flutter-plugins-dependencies
